body {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: saddlebrown;
}

.container {
    background-color:sandybrown;
    padding: 30px;
    margin: 50px auto;
    max-width: 800px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}


img {
    width: 800px;
    max-width: 100%;
    margin-bottom: 20px;
    border-radius: 10px;
}